<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
    </script>
</head>
<body>
<h1>test!!!</h1>
<!--<ul>-->
<!--    <% data.forEach(function(dataOne){ %>-->
<!--        <li>-->
<!--            <%= dataOne.name %>-->
<!--        </li>-->
<!--    <% }); %>-->
<!--</ul>-->
<form method="post" action="/board">
    name: <input name="name" id="name"/>
    <br/>
    <br/>
    content: <input name="contents" id="contents"/>
    <br/>
    <br/>
    title: <input name="title" id="title"/>
    pwd: <input name="pwd" id="pwd"/>
    <br/>
    <br/>
    <button type="submit" value="submit">
        submit
    </button>
</form>
</body>
</html>
